@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');

html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
};
*, *:before, *:after{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
};
body{
  margin: 20px 0;
  padding: 0;
  line-height: 1;
  font-family: "Nunito SemiBold", sans-serif;
}
